.Chat
{
    margin-top: 50px;
    width: 75%;
    border-radius: 2px;
    
    
    .chat-header
    {
        background-color: #47545c;
        color: white;
        border-radius: 2px;
        padding: 5px;
        
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        h3
        {
            cursor: pointer;
        }

        span
        {
            align-self: center;
            cursor: pointer;
        }
    }

    .dark
    {
        background-color:#47545c;
        color: #fff;
        
    }
    
    .chat-body
    {
        border: 1px solid #3a918c;
        padding: 1em 0 ;
        
        height:60vh;
        border-radius: 2px;
        position: relative;
       
        .scroll
        {
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
        }

        .message
        {
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            .message-content
            {
                padding: 1em;
                color: #fff;
                border-radius: 5px;
                margin: 5px;
                font-weight: 600;

                p
                {
                    img
                    {
                        max-width: 500px;
                    }
                }
            }

            .author
            {
                
                margin-left: 5PX;
            }

            .time
            {
                opacity: 0.6;
                margin-right: 5PX;
            }
        }

        #yours
        {
            align-items: flex-end;

            .message-content{
                background-color: #4b85bb;
            }
        }
        #others
        {
            align-items: flex-start;

            .message-content
            {
                background-color: #549597;
            }
        }   
    }

    .chat-footer
    {
        display: flex;
        flex-direction: column;

        .footer-group
        {
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin-top: 1em;
            
            span
            {
                opacity: 0.6;
             
                &:hover
                {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
        
        .input
        {
            width:75%;
        }

        .button
        {
            justify-self: flex-end;
            width: 15%;
        }
    }
}
