*
{
    box-sizing: border-box;
}
.login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid lightblue;
    border-radius: 5px;
    background-color: rgb(205, 221, 226);
    margin:10em auto;
    padding: 5em;

    div
    {
        width: 35vw;
        
    }
    
    button
    {
        margin-top: 2em;
        
        
    }
}