.Chat{
    margin-top: 50px;
    width: 400px;
    height: 420px;
    border-radius: 2px;
    
    .chat-header{
        background-color: rgb(71, 84, 92);
        color: white;
        border-radius: 2px;
        padding: 15px;
        font-size: large;
        cursor: pointer;
        height: 50px;

    }
    .chat-body{
        border: 1px solid lightseagreen;
        padding: 10px;
        background-color: rgb(246, 247, 248);
        height:600px;
        border-radius: 2px;
        position: relative;
        .scroll{
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
        }

        .message{
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            .message-content{
                padding: 15px;
                color: #fff;
                border-radius: 5px;

            }
            .author{
                font-weight: 600;
            }
            .time{
                opacity: 0.6;
            }
            
            
        }
        #yours{
            align-items: flex-end;
            .message-content{background-color: rgb(75, 133, 187);}
            }
         #others{
             align-items: flex-start;
             .message-content{
                 background-color: rgb(122, 203, 206);
             }
         }   
    }
    .chat-footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 10px 0;
        .input{
            width:330px;
        }
        .button{
            justify-self: flex-end;
        }
    }
}
